@import "compass/utilities/general/clearfix";
@import "compass/css3/transition";
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/transform";

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body { padding-top: 70px; }

.navbar-right strong { margin-left: 10px; }

.snippets { display: none; }  

.bs-example { border-style: solid; padding: 15px 15px 15px 15px; margin-left: 0; margin-right: 0; background-color: #fff; border-width: 1px; border-color: #ddd; border-radius: 4px 4px 0 0; box-shadow: none; }

.error { color: red; }

.docs { margin-top: 1em; }

table { border-collapse: collapse; }

.percent { position: absolute; width: 300px; height: 14px; z-index: 1; text-align: center; font-size: 0.8em; color: white; }

.progress-bar { width: 300px; height: 14px; border-radius: 10px; border: 1px solid #CCC; background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95)); border-image: initial; }

.uploaded { padding: 0; height: 14px; border-radius: 10px; background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500)); border-image: initial; }

.dropbox { width: 100%; height: 3em; border: 2px solid #DDD; border-radius: 8px; background-color: #FEFFEC; text-align: center; color: #BBB; font-size: 2em; font-family: Arial, sans-serif;
    span { margin-top: 0.9em; display: block; }
    &.not-available { background-color: #F88; }
    &.over { background-color: #bfb; }
}
