<div class="myHTMLOnly noJS">
    <p>
        This is an example fragment using only static html content. There is another <a href="#main=example">example fragment</a> available that is more dynamic.
        You'll notice that you are able to use the browser back button to return to previous fragments.
    </p>

    <h2>About fragments</h2>
    <p>
        Applications built using MAT are divided intro fragments that can be loaded into the web page at your convenience.
        Fragments can contain static content or they can have a JavaScript counterpart to make them more dynamic.
        This particular fragment is a static one which is indicated using a special CSS class on the root element.
        As a convention every fragment has a CSS class on it's root element that is equal to the fragment name.
    </p>

    <h2>About snippets</h2>
    <p>
        Snippets are repeatable sub-fragments that are cloned and populated as needed.
        They are present in the base HTML of the fragment and are taken out when the fragment is updated to be shown to the user.
        The most important goal here is to write the snippets as html instead of having an html string in your JavaScript code.
    </p>

    <h2>Bundled software</h2>
    <p>
        The MAT comes bundled with the following (awesome) open source code:
    </p>
    <ul>
        <li><a href="http://www.modernizr.com/">Modernizr</a> by Faruk Ates, Paul Irish, Alex Sexton</li>
        <li><a href="http://yepnopejs.com/">Yepnope script loader</a> by Alex Sexton and Ralph Holzmann</li>
        <li><a href="http://benalman.com/projects/jquery-bbq-plugin/">jQuery BBQ: Back Button & Query Library</a> by Ben Alman</li>
        <li><a href="http://bassistance.de/jquery-plugins/jquery-plugin-validation/">jQuery plugin: Validation</a> by JÖRN ZAEFFERER</li>
        <li><a href="http://flowplayer.org/tools/index.html">jQuery tools (expose/overlay)</a> by Tero Piirainen</li>
        <li><a href="http://jqueryui.com/">jQuery UI widget factory</a> by jQuery UI team</li>
        <li><a href="https://github.com/douglascrockford/JSON-js">JSON parser</a> by Douglas Crockford</li>
        <li><a href="http://code.google.com/p/jsdoc-toolkit/">jsDoc toolkit</a> by jsDoc team</li>
        <li><a href="http://developer.yahoo.com/yui/compressor/">YUI Compressor</a> by Yahoo</li>
        <li><a href="http://code.google.com/closure/compiler/">Google Closure compiler</a> by Google</li>
        <li><a href="http://html5boilerplate.com/">Inspired by the HTML5 boilerplate</li>
    </ul>
</div>