<div class="row" id="userManagment">
    <div class="row">
        <form class="form-inline">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="amoutOfUsers">Кількість працівників на сторінцу</label>
                    <input type="range" name="amoutOfUsers" class="form-control" id="amoutOfUsers">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <select class="form-control col-md-6">
                        <option value="none">Відділи</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

</div>